{% extends 'base.html.twig' %}

{% block title %}Hello ExpensesController!{% endblock %}

{% block sidemenu %}
    <a href="#" class="btn btn-block btn-primary"><b><span class="material-icons">add</span>Add Expense</b></a>
    <hr>
    <a href="{{ path('main') }}" class="btn btn-block btn-light text-left"><span class="material-icons mr-1">list</span>Home</a>
    <a href="{{ path('transactions', {'year' : current_year, 'month' : current_month}) }}"
       class="btn btn-block btn-light text-left"><span class="material-icons mr-1">shopping_cart</span>Transactions</a>
    <a href="{{ path('summary', {'year' : current_year, 'month' : current_month}) }}"
       class="btn btn-block btn-light text-left"><span class="material-icons mr-1">auto_graph</span>Summary</a>
{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
            <h2>Add expense</h2>
            <div class="card card-body">
                <form action="{{ path('add_expense_form', {'year' : current_year, 'month' : current_month}) }}"
                      enctype="multipart/form-data" method="post">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="title" required>
                        </div>
                    </div>

                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Direction</legend>
                        <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="direction" id="expense"
                                       value="expense" checked>
                                <label class="form-check-label" for="expense">
                                    Expense
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="direction" id="income"
                                       value="income">
                                <label class="form-check-label" for="income">
                                    Income
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row mb-3">
                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="date" id="date"
                                   value="{{ current_year }}-{{ current_month }}-{{ current_day }}" required>
                        </div>
                    </div>

                    <div class="expense-fields" id="expense-fields">
                        <div class="row mb-3">
                            <label for="category" class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <select class="form-control expense-field" id="category" name="category">
                                    {% for cat in categories %}
                                        {% if cat.getCategories is not empty %}
                                            <optgroup label="{{ cat.getCategoryName() }}">
                                                <option value="{{ cat.getCategoryName() }}">
                                                    <b>{{ cat.getCategoryName() }}</b></option>
                                                {% for subCat in cat.getCategories %}
                                                    <option value="{{ subCat.getCategoryName() }}">{{ subCat.getCategoryName() }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% elseif cat.getCategories is empty and cat.parentCategory is null %}
                                            <option value="{{ cat.getCategoryName() }}">{{ cat.getCategoryName() }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="recipient" class="col-sm-2 col-form-label">Recipient</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control expense-field" name="recipient" id="recipient"
                                       value="other" required>
                            </div>
                        </div>

                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Payer</legend>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payer" id="self"
                                           value="self" checked>
                                    <label class="form-check-label" for="self">
                                        Self
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payer" id="notSelf"
                                           value="notSelf">
                                    <label class="form-check-label" for="notSelf">
                                        Not self
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row mb-3">
                        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="amount" id="amount" step="0.01" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="amount" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10 d-grid">
                            <button type="submit" class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body bg-light">
                    <h3>Twoje ostatnie transakcje</h3>
                    {% for expense in expenses %}
                        <div class="card my-2">
                            <div class="card-body pt-2 pb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <div class="border rounded-circle p-2">
                                            <a href="#">
                                                <img src="/assets/icons/{{ expense.getCategory().categoryName }}.svg"
                                                     class="img-fluid" style="width: 36px; height: 36px;">
                                            </a>
                                        </div>
                                        <div class="pl-3">
                                            <div class="d-flex flex-column">
                                                <div class=""><b>{{ expense.getTitle() }}</b></div>
                                                <div class=""><small>{{ expense.getDate() }}</small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        {% if expense.getDirection() == "income" %}
                                            <span class="text-success">+{{ expense.getAmount() }} PLN</span>
                                        {% else %}
                                            <span class="text-danger">-{{ expense.getAmount() }} PLN</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        const expenseRadio = document.querySelector("input[id=expense]");
        const incomeRadio = document.querySelector("input[id=income]");

        expenseRadio.addEventListener('change', (event) => {
            if (document.querySelector("input[id=expense]").checked) {
                document.getElementById('expense-fields').style.display = 'block';
                console.log(document.querySelectorAll('.expense-field'));

                const expenseDivs = document.querySelectorAll('.expense-fields');
                [].forEach.call(expenseDivs, function (div) {
                    div.style.display = 'block';
                });
            }
        });

        incomeRadio.addEventListener('change', (event) => {
            if (document.querySelector("input[id=income]").checked) {
                document.getElementById('expense-fields').style.display = 'none';

                const expenseDivs = document.querySelectorAll('.expense-fields');
                [].forEach.call(expenseDivs, function (div) {
                    div.style.display = 'none';
                });
            }
        });
    </script>
{% endblock %}