{% extends 'base.html.twig' %}
{% block title %}MONEYTRACK | your transactions{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block body %}
    <div class="card card-body shadow">
        <h3 class="fw-bold mb-2">This month transactions</h3>
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">data</th>
                <th scope="col">tytuł</th>
                <th scope="col">kategoria</th>
                <th scope="col">odbiorca</th>
                <th scope="col">kwota</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.category.categoryName }}</td>
                    <td>{{ transaction.recipient }}</td>
                    <td>{{ transaction.amount|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>total</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}